<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">Configuration</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form editor-form-node">
    		<div class="layui-form-item">
    			<label class="layui-form-label">Node name</label>
    			<div class="layui-input-block">
    				<input type="text" name="value" placeholder="Please enter the node name" value="{{=d.value}}" autocomplete="off" class="layui-input">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">Cycle variable</label>
    			<div class="layui-input-block">
    				<input type="text" name="loopVariableName" placeholder="Please enter the loop variable" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">Cycles</label>
    			<div class="layui-input-block" codemirror="loopCount" placeholder="Please enter the number of cycles" data-value="{{=d.data.object.loopCount}}"></div>
    		</div>
			<hr>
			{{# layui.each(d.data.object['function'],function(index,item){ }}
			<div id="function{{=index}}" class="draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
				<div class="layui-form-item layui-form-relative">
					<i class="layui-icon layui-icon-close function-remove"></i>
					<label class="layui-form-label">Execute function</label>
					<div class="layui-input-block array" codemirror="function" placeholder="Execute function" data-value="{{=d.data.object['function'][index]}}"></div>
				</div>
			</div>
			{{# }) }}
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn function-add" type="button">Add a function</button>
				</div>
			</div>
    	</form>
    </div>
  </div>
</div>